/********************************************* Classes para lidar com o erro do input invalidado *********************************************/
textarea:hover, 
input:hover,
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline: none !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

select:hover {
    outline: none !important;
    box-shadow: none !important;
}

label.error {
    color: rgb(255 113 123);
    font-size: 1rem !important;
    display: block;
    margin-top: 5px;
}

input.error, select.error {
    border: 1px solid rgb(255 113 123) !important;
    font-weight: 300;
    color: rgb(255 113 123);
    font-size: 1rem !important;
    width: 100%;
}

/********************************************* Classes úteis *********************************************/
.hide {
    display: none !important;
}